{% include 'news/header.html' %}

<!-- BEGIN body -->
<!-- <body> -->
<body class="ot-menu-will-follow">

<!-- BEGIN .boxed -->
<div class="boxed">

    <!-- BEGIN .header -->
    <div class="header">

        <!-- BEGIN .wrapper -->
        <div class="wrapper">

            <nav class="header-top">
                <div class="header-top-socials">
                    <a href="#" class="ot-color-hover-facebook"><i class="fa fa-facebook"></i><span>43</span></a>
                    <a href="#" class="ot-color-hover-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="ot-color-hover-google-plus"><i class="fa fa-google-plus"></i><span>12</span></a>
                    <a href="#" class="ot-color-hover-pinterest"><i class="fa fa-pinterest-p"></i><span>65</span></a>
                </div>
                <ul>
                    <li><a href="index.html"><span>Homepage</span></a>
                        <ul class="sub-menu">
                            <li><a href="index2.html">Homepage style 2</a></li>
                            <li><a href="index3.html">Homepage style 3</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="#"><span>Sub-menu</span></a>
                        <ul class="sub-menu">
                            <li><a href="#">Sub-menu link #1</a>
                            <li><a href="#"><span>Sub-menu link #2</span></a>
                                <ul class="sub-menu">
                                    <li><a href="#">Sub-sub-menu link #1</a></li>
                                    <li><a href="#">Sub-sub-menu link #2</a></li>
                                    <li><a href="#">Sub-sub-menu link #3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Sub-menu link #3</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="photo-gallery.html">Photo gallery</a></li>
                    <li>
                        <a href="http://themeforest.net/item/composs-elegant-blog-magazine-news-html-template/14726262?ref=orange-themes"
                           target="_blank">Buy Composs</a></li>
                </ul>
            </nav>

            <div class="header-content">

                <div class="header-content-logo">
                    <a href="index.html"><img src="images\logo.png" data-ot-retina="images/logo@2x.png" alt=""></a>
                </div>

                <div class="header-content-o">
                    <a href="#" target="_blank"><img src="images\o1.jpg" alt=""></a>
                </div>

            </div>

            <div class="main-menu-placeholder wrapper">
                <nav id="main-menu">
                    <ul>
                        <li><a href="index.html"><span>Homepage</span></a>
                            <ul class="sub-menu">
                                <li><a href="index2.html">Homepage style 2</a></li>
                                <li><a href="index3.html">Homepage style 3</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html"><span>Blog page</span></a>
                            <ul class="sub-menu">
                                <li><a href="blog2.html">Blog style 2</a></li>
                                <li><a href="blog3.html">Blog style 3</a></li>
                                <li><a href="blog4.html">Blog style 4</a></li>
                                <li><a href="post.html">Post page</a></li>
                                <li><a href="post-left.html">Post page left sidebar</a></li>
                                <li><a href="post-no-comments.html">Post page no comments</a></li>
                            </ul>
                        </li>
                        <li><a href="shortcodes.html"><span>Shortcodes</span></a>
                            <ul class="sub-menu">
                                <li><a href="shortcodes.html#ots-photo-gallery">Photo gallery preview</a></li>
                                <li><a href="shortcodes.html#ots-responsive-video">Responsive video embeds</a></li>
                                <li><a href="shortcodes.html#ots-spacers">Content spacers</a></li>
                                <li><a href="shortcodes.html#ots-buttons">Buttons (unlimited colors)</a></li>
                                <li><a href="shortcodes.html#ots-tabs">Tabbed blocks</a></li>
                                <li><a href="shortcodes.html#ots-accordion">Accordion blocks</a></li>
                                <li><a href="shortcodes.html">..and much more</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><span>Pages</span></a>
                            <ul class="sub-menu">
                                <li><a href="error-404.html">Error 404 page</a></li>
                                <li><a href="category.html">Category page</a>
                                <li><a href="archive.html">Archive page</a>
                                <li><a href="full-width.html">Full width page</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#"><span>Widget Menu</span></a>
                            <ul class="sub-menu ot-mega-menu">
                                <li class="lets-do-4">

                                    <div class="widget-split item">

                                        <!-- BEGIN .widget -->
                                        <div class="widget">

                                            <h3>Instagram</h3>
                                            <div class="widget-instagram-photos">

                                                <div class="item">
                                                    <div class="item-header">
                                                        <a href="#" target="_blank">
                                                            <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s150x150/e15/11282169_741566342626905_1874162724_n.jpg"
                                                                 alt="">
                                                        </a>
                                                    </div>
                                                    <div class="item-content">
                                                        <span class="insta-like-count"><i class="fa fa-heart"></i>37 likes</span>
                                                        <h4><a href="#" target="_blank">Vel sumo everti grac is probatus
                                                            consul atu nostrum</a></h4>
                                                        <span class="item-meta">
																	<a href="#" target="_blank"><i
                                                                            class="material-icons">access_time</i>1 week ago</a>
																</span>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <div class="item-header">
                                                        <a href="#" target="_blank">
                                                            <img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s150x150/e15/11235956_1568428670085190_299185390_n.jpg"
                                                                 alt="">
                                                        </a>
                                                    </div>
                                                    <div class="item-content">
                                                        <span class="insta-like-count"><i class="fa fa-heart"></i>53 likes</span>
                                                        <h4><a href="#" target="_blank">Vel sumo everti grac is probatus
                                                            consul atu nostrum</a></h4>
                                                        <span class="item-meta">
																	<a href="#" target="_blank"><i
                                                                            class="material-icons">access_time</i>3 weeks ago</a>
																</span>
                                                    </div>
                                                </div>

                                            </div>

                                            <!-- END .widget -->
                                        </div>

                                    </div>

                                    <div class="widget-split item">

                                        <!-- BEGIN .widget -->
                                        <div class="widget">
                                            <h3>Tag Cloud</h3>
                                            <div class="tagcloud">
                                                <a href="blog.html">Dignissim</a>
                                                <a href="blog.html">Habeo quods</a>
                                                <a href="blog.html">Sumo</a>
                                                <a href="blog.html">Prima dicunt</a>
                                                <a href="blog.html">Scripser</a>
                                                <a href="blog.html">Dignissim</a>
                                                <a href="blog.html">Habeo quods</a>
                                                <a href="blog.html">Sumo</a>
                                                <a href="blog.html">Prima dicunt</a>
                                                <a href="blog.html">Scripser</a>
                                                <a href="blog.html">Dignissim</a>
                                                <a href="blog.html">Habeo quods</a>
                                            </div>
                                            <!-- END .widget -->
                                        </div>

                                    </div>

                                    <div class="widget-split item">
                                        <div class="widget">
                                            <h3>Coolest gadgets</h3>
                                            <div class="widget-content ot-w-article-list">

                                                <div class="item">
                                                    <div class="item-header">
                                                        <a href="#" class="img-read-later-button rm-btn-small">Read
                                                            later</a>
                                                        <a href="post.html"><img src="images\photos\image-18.jpg"
                                                                                 alt=""></a>
                                                    </div>
                                                    <div class="item-content">
                                                        <h4><a href="post.html">Meet DC's Legends of Tomorrow</a></h4>
                                                        <span class="item-meta">
																	<span class="item-meta-item"><i
                                                                            class="material-icons">access_time</i>January 12, 2015</span>
																</span>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <div class="item-header">
                                                        <a href="#" class="img-read-later-button rm-btn-small">Read
                                                            later</a>
                                                        <a href="post.html"><img src="images\photos\image-19.jpg"
                                                                                 alt=""></a>
                                                    </div>
                                                    <div class="item-content">
                                                        <h4><a href="post.html">YOU DECIDE: The Best Movie of 2015!</a>
                                                        </h4>
                                                        <span class="item-meta">
																	<span class="item-meta-item"><i
                                                                            class="material-icons">access_time</i>January 12, 2015</span>
																</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="widget-split item">
                                        <div class="widget">
                                            <h3>Flickr photo feed</h3>
                                            <div class="ot-w-flickr-feed lets-do-3">
                                                <a href="#" class="item"><img
                                                        src="http://farm8.staticflickr.com/7302/12333892565_fa980bc87f_q.jpg"
                                                        alt=""></a>
                                                <a href="#" class="item"><img
                                                        src="http://farm6.staticflickr.com/5521/12334281344_d9b279095f_q.jpg"
                                                        alt=""></a>
                                                <a href="#" class="item"><img
                                                        src="http://farm4.staticflickr.com/3798/12333834195_7dcb472dd5_q.jpg"
                                                        alt=""></a>

                                                <a href="#" class="item"><img
                                                        src="http://farm8.staticflickr.com/7308/12333833705_1e111fd1dd_q.jpg"
                                                        alt=""></a>
                                                <a href="#" class="item"><img
                                                        src="http://farm3.staticflickr.com/2852/12333832785_2b173fae28_q.jpg"
                                                        alt=""></a>
                                                <a href="#" class="item"><img
                                                        src="http://farm6.staticflickr.com/5548/12334276684_4c4ab0dd86_q.jpg"
                                                        alt=""></a>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </li>
                        <li><a href="photo-gallery.html"><span>Photo gallery</span></a>
                            <ul class="sub-menu">
                                <li><a href="photo-gallery-sidebar.html">Photo gallery with sidebar</a></li>
                                <li><a href="photo-gallery-single.html">Photo gallery single</a></li>
                                <li><a href="photo-gallery-lightbox.html">Photo gallery lightbox</a></li>
                            </ul>
                        </li>
                        <li><a href="archive.html">Archive</a></li>
                        <li><a href="contact-us.html">Contact us</a></li>
                    </ul>
                    <form action="blog.html" method="get">
                        <input type="text" value="" placeholder="Search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </nav>
            </div>

            <!-- END .wrapper -->
        </div>

        <!-- END .header -->
    </div>


    <!-- BEGIN .content -->
    <div class="content">

        <!-- BEGIN .wrapper -->
        <div class="wrapper">

            <div class="content-wrapper">

                <!-- BEGIN .composs-main-content -->
                <div class="composs-main-content">

                    <!-- BEGIN .composs-panel -->
                    <div class="composs-panel">

                        <div class="composs-panel-inner">

                            <div class="big-error-message">
                                <img src="images\404-image.png" alt="">
                                <h3>Error 404</h3>
                                <strong>Page not found</strong>
                                <p>Dang it! We just lost this page. If you have any idea of what should be here, please
                                    let us know by <a href="contact-us.html">contacting us</a>.</p>
                                <p><a href="index.html">Back to homepage</a></p>
                            </div>

                        </div>

                        <!-- END .composs-panel -->
                    </div>

                    <!-- END .composs-main-content -->
                </div>

            </div>

            <!-- END .wrapper -->
        </div>

        <!-- BEGIN .content -->
    </div>


    <!-- BEGIN #footer -->
    <footer id="footer">

        <!-- BEGIN .wrapper -->
        <div class="wrapper">

            <ul>
                <li><a href="category.html">Timeam delicatissimi</a></li>
                <li><a href="category.html">Viderer salutatus eiusmel ea</a></li>
                <li><a href="category.html">Mei debet quaeque et</a></li>
                <li><a href="category.html">Ne his adhuc meliore</a></li>
                <li><a href="category.html">Scaevola postulant essent</a></li>
                <li><a href="category.html">Summo vivendum</a></li>
            </ul>

            <div class="footer-widgets lets-do-4">

                <div class="widget-split item">
                    <div class="widget">
                        <div>
                            <p><a href="index.html"><img src="images\logo-footer.png"
                                                         data-ot-retina="images/logo-footer@2x.png" alt=""></a></p>

                            <p>Iusto dolor commodo per in. Has cibo sint impedit id per.</p>

                            <p>Erant tantas doctus qui ut. At feugait pertinacia est. Te pri possit impedit.</p>

                            <p>Perfecto mandamus disputationi an vis. Vivendo explicari ut ius, sea ex offendit
                                antiopam.</p>
                        </div>
                    </div>
                </div>

                <div class="widget-split item">
                    <div class="widget">
                        <h3>Popular categories</h3>
                        <ul class="menu">
                            <li><a href="category.html">Timeam delicatissimi</a></li>
                            <li><a href="category.html">Viderer salutatus eiusmel ea</a></li>
                            <li><a href="category.html">Mei debet quaeque et</a></li>
                            <li><a href="category.html">Ne his adhuc meliore</a></li>
                            <li><a href="category.html">Scaevola postulant essent</a></li>
                            <li><a href="category.html">Summo vivendum</a></li>
                        </ul>
                    </div>
                </div>

                <div class="widget-split item">
                    <div class="widget">
                        <h3>Coolest gadgets</h3>
                        <div class="widget-content ot-w-article-list">

                            <div class="item">
                                <div class="item-header">
                                    <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                                    <a href="post.html"><img src="images\photos\image-18.jpg" alt=""></a>
                                </div>
                                <div class="item-content">
                                    <h4><a href="post.html">Meet DC's Legends of Tomorrow</a></h4>
                                    <span class="item-meta">
												<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
											</span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="item-header">
                                    <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                                    <a href="post.html"><img src="images\photos\image-19.jpg" alt=""></a>
                                </div>
                                <div class="item-content">
                                    <h4><a href="post.html">YOU DECIDE: The Best Movie of 2015!</a></h4>
                                    <span class="item-meta">
												<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
											</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="widget-split item">
                    <div class="widget">
                        <h3>Flickr photo feed</h3>
                        <div class="ot-w-flickr-feed lets-do-3">
                            <a href="#" class="item"><img
                                    src="http://farm8.staticflickr.com/7302/12333892565_fa980bc87f_q.jpg" alt=""></a>
                            <a href="#" class="item"><img
                                    src="http://farm6.staticflickr.com/5521/12334281344_d9b279095f_q.jpg" alt=""></a>
                            <a href="#" class="item"><img
                                    src="http://farm4.staticflickr.com/3798/12333834195_7dcb472dd5_q.jpg" alt=""></a>

                            <a href="#" class="item"><img
                                    src="http://farm8.staticflickr.com/7308/12333833705_1e111fd1dd_q.jpg" alt=""></a>
                            <a href="#" class="item"><img
                                    src="http://farm3.staticflickr.com/2852/12333832785_2b173fae28_q.jpg" alt=""></a>
                            <a href="#" class="item"><img
                                    src="http://farm6.staticflickr.com/5548/12334276684_4c4ab0dd86_q.jpg" alt=""></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="footer-copyright">
                <p>&copy; <a href="http://orange-themes.com" target="_blank">Orange-Themes.com</a> 2016. All rights
                    reserved.</p>
            </div>

            <!-- END .wrapper -->
        </div>

        <!-- END #footer -->
    </footer>

    <div class="ot-follow-share">
        <a href="#" class="ot-color-facebook" data-h-title="Facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="ot-color-twitter" data-h-title="Twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="ot-color-google-plus" data-h-title="Google+"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="ot-color-rss" data-h-title="RSS Feed"><i class="fa fa-rss"></i></a>
    </div>

    <div class="ot-responsive-menu-header">
        <a href="#" class="ot-responsive-menu-header-burger"><i class="material-icons">menu</i></a>
        <a href="index.html" class="ot-responsive-menu-header-logo"><img src="images\logo.png" alt=""></a>
    </div>

    <!-- END .boxed -->
</div>

<div class="ot-responsive-menu-content-c-header">
    <a href="#" class="ot-responsive-menu-header-burger"><i class="material-icons">menu</i></a>
</div>
<div class="ot-responsive-menu-content">
    <div class="ot-responsive-menu-content-inner has-search">
        <form action="blog.html" method="get">
            <input type="text" value="" placeholder="Search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <ul id="responsive-menu-holder"></ul>
    </div>
</div>
<div class="ot-responsive-menu-background"></div>

<!-- Scripts -->
{%include 'news/footer.html'%}

<!-- END body -->
</body>
<!-- END html -->
</html>