<div class="composs-panel">

    <div class="composs-panel-title composs-panel-title-tabbed">
        <strong class="active">Todays hottest articles</strong>
        <strong>Gadget news</strong>
        <strong>Fashion trends</strong>
    </div>

    <div class="composs-panel-inner">
        <div class="composs-panel-tab active">

            <div class="composs-article-split-block">

                <div class="item-large">

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button">Read later</a>
                            <a href="post.html"><img src="images\photos\image-2.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="post.html">4 Shocking Things From Civil War That You Won't
                                See in the Movie</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
															<a href="post.html#comments" class="item-meta-item"><i
                                                                    class="material-icons">chat_bubble_outline</i>35</a>
														</span>
                            <p>With the recent trailers and more plot points about Captain America:
                                Civil War being made known, it is becoming more and more likely that
                                Civil War is going to be a different...</p>
                        </div>
                    </div>

                </div>

                <div class="item-small">

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                            <a href="post.html"><img src="images\photos\image-3.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="post.html">This Razzie Award Winning Director Finally
                                Making His Comeback?</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
														</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                            <a href="post.html"><img src="images\photos\image-4.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="post.html">May the Force be With Marvel: Marvel Announce
                                POE DAMERON!</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
														</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                            <a href="post.html"><img src="images\photos\image-5.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="post.html">Breaking Bad Writer to Adapt Anne of Green
                                Gables For TV</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
														</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                            <a href="post.html"><img src="images\photos\image-6.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="#">What's Coming in Marvel's Black Panther Movie?</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
														</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                            <a href="post.html"><img src="images\photos\image-7.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="post.html">Oscars 2016: All The Shocks And All The
                                Snubs</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
														</span>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="composs-panel-tab">

            <div class="composs-article-split-block">

                <div class="item-small">

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                            <a href="post.html"><img src="images\photos\image-3.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="post.html">This Razzie Award Winning Director Finally
                                Making His Comeback?</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
														</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                            <a href="post.html"><img src="images\photos\image-4.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="post.html">May the Force be With Marvel: Marvel Announce
                                POE DAMERON!</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
														</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                            <a href="post.html"><img src="images\photos\image-5.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="post.html">Breaking Bad Writer to Adapt Anne of Green
                                Gables For TV</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
														</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                            <a href="post.html"><img src="images\photos\image-6.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="post.html">What's Coming in Marvel's Black Panther
                                Movie?</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
														</span>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                            <a href="post.html"><img src="images\photos\image-7.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="post.html">Oscars 2016: All The Shocks And All The
                                Snubs</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
														</span>
                        </div>
                    </div>

                </div>

                <div class="item-large">

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button">Read later</a>
                            <a href="post.html"><img src="images\photos\image-2.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="post.html">4 Shocking Things From Civil War That You Won't
                                See in the Movie</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
															<a href="post.html#comments" class="item-meta-item"><i
                                                                    class="material-icons">chat_bubble_outline</i>35</a>
														</span>
                            <p>With the recent trailers and more plot points about Captain America:
                                Civil War being made known, it is becoming more and more likely that
                                Civil War is going to be a different...</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="composs-panel-tab">

            <div class="composs-article-split-block">

                <div class="item-large">

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button">Read later</a>
                            <a href="post.html"><img src="images\photos\image-2.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="post.html">4 Shocking Things From Civil War That You Won't
                                See in the Movie</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
															<a href="post.html#comments" class="item-meta-item"><i
                                                                    class="material-icons">chat_bubble_outline</i>35</a>
														</span>
                            <p>With the recent trailers and more plot points about Captain America:
                                Civil War being made known, it is becoming more and more likely that
                                Civil War is going to be a different...</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button">Read later</a>
                            <a href="post.html"><img src="images\photos\image-2.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="post.html">4 Shocking Things From Civil War That You Won't
                                See in the Movie</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
															<a href="post.html#comments" class="item-meta-item"><i
                                                                    class="material-icons">chat_bubble_outline</i>35</a>
														</span>
                            <p>With the recent trailers and more plot points about Captain America:
                                Civil War being made known, it is becoming more and more likely that
                                Civil War is going to be a different...</p>
                        </div>
                    </div>

                </div>

                <div class="item-large">

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button">Read later</a>
                            <a href="post.html"><img src="images\photos\image-2.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="post.html">4 Shocking Things From Civil War That You Won't
                                See in the Movie</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
															<a href="post.html#comments" class="item-meta-item"><i
                                                                    class="material-icons">chat_bubble_outline</i>35</a>
														</span>
                            <p>With the recent trailers and more plot points about Captain America:
                                Civil War being made known, it is becoming more and more likely that
                                Civil War is going to be a different...</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-header">
                            <a href="#" class="img-read-later-button">Read later</a>
                            <a href="post.html"><img src="images\photos\image-2.jpg" alt=""></a>
                        </div>
                        <div class="item-content">
                            <h2><a href="post.html">4 Shocking Things From Civil War That You Won't
                                See in the Movie</a></h2>
                            <span class="item-meta">
															<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
															<a href="post.html#comments" class="item-meta-item"><i
                                                                    class="material-icons">chat_bubble_outline</i>35</a>
														</span>
                            <p>With the recent trailers and more plot points about Captain America:
                                Civil War being made known, it is becoming more and more likely that
                                Civil War is going to be a different...</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>