{% load static %}
<!-- BEGIN #sidebar -->
<aside id="sidebar">

    <!-- BEGIN .widget -->
    <div class="widget">
        <form method="get" class="search-form" action="#">
            <label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search …" value="" name="s"
                       title="Search for:">
            </label>
            <input type="submit" class="search-submit screen-reader-text" value="Search">
        </form>
        <!-- END .widget -->
    </div>

    <!--                    <div class="widget">-->
    <!--                        <div class="widget-content">-->
    <!--                            <a href="#" target="_blank"><img src="{% static 'images\o2.jpg' %}" alt=""></a>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; END .widget &ndash;&gt;-->
    <!--                    </div>-->

    <!-- BEGIN .widget -->
    <div class="widget">
        <h3>Popular articles</h3>
        <div class="widget-content ot-w-article-list">

            <div class="item">
                <div class="item-header">
                    <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                    <a href="post.html"><img src="{% static 'images\photos\image-17.jpg' %}" alt=""></a>
                </div>
                <div class="item-content">
                    <h4><a href="post.html">3 Generations Of Young Skywalkers Is The Path To So Many
                        Feels</a></h4>
                    <span class="item-meta">
												<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
											</span>
                </div>
            </div>

            <div class="item">
                <div class="item-header">
                    <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                    <a href="post.html"><img src="{% static 'images\photos\image-18.jpg' %}" alt=""></a>
                </div>
                <div class="item-content">
                    <h4><a href="post.html">Meet DC's Legends of Tomorrow: Vandal Savage</a></h4>
                    <span class="item-meta">
												<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
											</span>
                </div>
            </div>

            <div class="item">
                <div class="item-header">
                    <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                    <a href="post.html"><img src="{% static 'images\photos\image-19.jpg' %}" alt=""></a>
                </div>
                <div class="item-content">
                    <h4><a href="post.html">YOU DECIDE: The Best Movie of 2015 - Final Four!</a></h4>
                    <span class="item-meta">
												<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
											</span>
                </div>
            </div>

            <div class="item">
                <div class="item-header">
                    <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                    <a href="post.html"><img src="{% static 'images\photos\image-20.jpg' %}" alt=""></a>
                </div>
                <div class="item-content">
                    <h4><a href="post.html">How Our Favorite Disney Characters Would look In Classic
                        Paintings</a></h4>
                    <span class="item-meta">
												<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
											</span>
                </div>
            </div>

        </div>
        <!-- END .widget -->
    </div>

    <!-- BEGIN .widget -->
    <div class="widget">
        <h3>Latest photo gallery</h3>
        <div class="widget-content ot-w-gallery-list">

            <div class="item">
                <div class="item-header">
                    <div class="item-photo"><a href="photo-gallery-single.html"><img
                            src="{% static 'images\photos\image-12.jpg' %}" alt=""></a></div>
                    <div class="item-photo"><a href="photo-gallery-single.html"><img
                            src="{% static 'images\photos\image-13.jpg' %}" alt=""></a></div>
                    <div class="item-photo"><a href="photo-gallery-single.html"><img
                            src="{% static 'images\photos\image-15.jpg' %}" alt=""></a></div>
                    <div class="item-photo"><a href="photo-gallery-single.html"><img
                            src="{% static 'images\photos\image-14.jpg' %}" alt=""></a></div>
                </div>
                <div class="item-content">
                    <h4><a href="photo-gallery-single.html">Te ius esse sapientem qualisque et hinc elit
                        mentitum vim</a></h4>
                    <!-- <p>Cum an officiis integebat neces sitat bus, impedi tes...</p> -->
                    <span class="item-meta">
												<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
											</span>
                </div>
            </div>

        </div>
        <!-- END .widget -->
    </div>

    <!-- BEGIN .widget -->
    <div class="widget">
        <h3>Tag Cloud</h3>
        <div class="tagcloud">
            <a href="blog.html">Dignissim</a>
            <a href="blog.html">Habeo quods</a>
            <a href="blog.html">Sumo</a>
            <a href="blog.html">Prima dicunt</a>
            <a href="blog.html">Scripser</a>
            <a href="blog.html">Dignissim</a>
            <a href="blog.html">Habeo quods</a>
            <a href="blog.html">Sumo</a>
            <a href="blog.html">Prima dicunt</a>
            <a href="blog.html">Scripser</a>
            <a href="blog.html">Dignissim</a>
            <a href="blog.html">Habeo quods</a>
        </div>
        <!-- END .widget -->
    </div>

    <!-- BEGIN .widget -->

    <!-- END #sidebar -->
</aside>
