{% load static %}
<!-- BEGIN #sidebar -->
<aside id="sidebar">

    <!-- BEGIN .widget -->
    <div class="widget">
        <form method="get" class="search-form" action="{% url 'search' %} ">
            <label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search …" value="" name="q"
                       title="Search for:">
            </label>
            <input type="submit" class="search-submit screen-reader-text" value="Search">
        </form>
        <!-- END .widget -->
    </div>

    <!--                    <div class="widget">-->
    <!--                        <div class="widget-content">-->
    <!--                            <a href="#" target="_blank"><img src="{% static 'images\o2.jpg' %}" alt=""></a>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; END .widget &ndash;&gt;-->
    <!--                    </div>-->

    <!-- BEGIN .widget -->
    <div class="widget">
        <h3>Popular articles</h3>
        <div class="widget-content ot-w-article-list">
        {% for popular in popular_list %}
            <div class="item">
                <div class="item-header">
                    <a href="#" class="img-read-later-button rm-btn-small">Read later</a>
                    <a href="{% url 'post' popular.slug %}"><img src="{{popular.main_image.url}}" alt=""></a>
                </div>
                <div class="item-content">
                    <h4><a href="{% url 'post' popular.slug %}">{{popular.name}}</a></h4>
                    <span class="item-meta">
                    <span class="item-meta-item"><i class="material-icons">access_time</i>{{popular.pub_date}}</span>
                    </span>
                </div>
            </div>
        {% endfor %}



        </div>
        <!-- END .widget -->
    </div>

    <!-- BEGIN .widget -->
    <div class="widget">
        <h3>Latest photo gallery</h3>
        <div class="widget-content ot-w-gallery-list">

            <div class="item">
                <div class="item-header">
                    <div class="item-photo"><a href="photo-gallery-single.html"><img
                            src="{% static 'images\photos\image-12.jpg' %}" alt=""></a></div>
                    <div class="item-photo"><a href="photo-gallery-single.html"><img
                            src="{% static 'images\photos\image-13.jpg' %}" alt=""></a></div>
                    <div class="item-photo"><a href="photo-gallery-single.html"><img
                            src="{% static 'images\photos\image-15.jpg' %}" alt=""></a></div>
                    <div class="item-photo"><a href="photo-gallery-single.html"><img
                            src="{% static 'images\photos\image-14.jpg' %}" alt=""></a></div>
                </div>
                <div class="item-content">
                    <h4><a href="photo-gallery-single.html">Te ius esse sapientem qualisque et hinc elit
                        mentitum vim</a></h4>
                    <!-- <p>Cum an officiis integebat neces sitat bus, impedi tes...</p> -->
                    <span class="item-meta">
												<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
											</span>
                </div>
            </div>

        </div>
        <!-- END .widget -->
    </div>

    <!-- BEGIN .widget -->
    <div class="widget">
        <h3>Tag Cloud</h3>
        <div class="tagcloud">
            {% for tag in random_tags%}
            <a href="{% url 'category' tag.slug %}">{{tag.name}}</a>
            {% endfor %}
        </div>
        <!-- END .widget -->
    </div>

    <!-- BEGIN .widget -->

    <!-- END #sidebar -->
</aside>
